<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="styleseet" href="static/CSS/footer.css">
</head>
<body>
<footer class="footer">


    <div class="footer-container">


        <!-- Brand Section -->

        <div class="footer-brand">

            <h2>
                Smart<span>Queue</span>
            </h2>

            <p>
                Smart Queue Management System helps organizations
                reduce waiting time and manage services efficiently
                through digital queue solutions.
            </p>


        </div>



        <!-- Quick Links -->

        <div class="footer-links">

            <h3>
                Quick Links
            </h3>


            <ul>

                <li>
                    <a href="index.html">
                        Home
                    </a>
                </li>


                <li>
                    <a href="about.html">
                        About
                    </a>
                </li>


                <li>
                    <a href="services.html">
                        Services
                    </a>
                </li>


                <li>
                    <a href="contact.html">
                        Contact
                    </a>
                </li>

            </ul>


        </div>




        <!-- Services -->

        <div class="footer-links">

            <h3>
                Services
            </h3>


            <ul>

                <li>
                    Online Token Booking
                </li>


                <li>
                    Real-Time Queue Tracking
                </li>


                <li>
                    Admin Dashboard
                </li>


                <li>
                    Digital Notification
                </li>


            </ul>


        </div>





        <!-- Contact -->

        <div class="footer-contact">


            <h3>
                Contact
            </h3>


            <p>
                📍 Birgunj, Nepal
            </p>


            <p>
                📧 support@smartqueue.com
            </p>


            <p>
                ☎ +977 98XXXXXXXX
            </p>


        </div>



    </div>





    <!-- Bottom Footer -->


    <div class="footer-bottom">


        <p>
            © 2026 SmartQueue. All Rights Reserved.
        </p>


    </div>


</footer>
</body>
</html>