<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Queue Management System</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">

    <!-- CSS -->

    <link rel="stylesheet" href="static/CSS/style.css">
    <link rel="stylesheet" href="static/CSS/navbar.css">
    <link rel="stylesheet" href="static/CSS/login.css">

</head>

<body>

    <!-- ================= NAVBAR ================= -->

    <header class="navbar">

        <div class="container nav-container">

            <a href="/" class="logo">
                Queue<span>Flow</span>
            </a>

            <nav>

                <ul class="nav-links">

                    <li><a href="/" >Home</a></li>

                    <li><a href="/about">About</a></li>

                    <li><a href="/services">Services</a></li>

                    <li><a href="/contact">Contact</a></li>

                </ul>

            </nav>

            <div class="nav-buttons">

                <a href="/login" class="btn btn-primary">
                    Login
                </a>

                <a href="/register" class="btn btn-outline">
                    Register
                </a>

            </div>

        </div>

    </header>





<section class="login-page">

<div class="login-wrapper">

<!-- Left -->

<div class="login-left">

<span class="badge">

Smart Digital Queue

</span>

<h1>

Skip Waiting.

<br>

Start Smarter.

</h1>

<p>

Access your dashboard, monitor queue status,
book tokens online and save valuable time.

</p>

<ul>

<li><i class="fa-solid fa-circle-check"></i> Real-Time Queue Updates</li>

<li><i class="fa-solid fa-circle-check"></i> Secure Authentication</li>

<li><i class="fa-solid fa-circle-check"></i> Fast Token Booking</li>

</ul>

<img src="static/image/Queue.jpg">

</div>



<!-- Right -->

<div class="login-card">

<h2>

Welcome Back

</h2>

<p class="subtitle">

Sign in to continue

</p>

<form>

<div class="input-box">

<i class="fa-solid fa-envelope"></i>

<input type="email" placeholder="Email Address">

</div>

<div class="input-box">

<i class="fa-solid fa-lock"></i>

<input type="password" placeholder="Password">

</div>

<div class="remember">

<label>

<input type="checkbox">

Remember Me

</label>

<a href="#">

Forgot Password?

</a>

</div>

<button>

Login

</button>

<div class="divider">

<span>

OR

</span>

</div>

<div class="social-login">

<button class="google">

<i class="fab fa-google"></i>

Google

</button>

<button class="github">

<i class="fab fa-github"></i>

GitHub

</button>

</div>

<p class="register">

Don't have an account?

<a href="/register">

Create Account

</a>

</p>

</form>

</div>

</div>

</section>

</body>

</html>