<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login | QueueFlow</title>

    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/navbar.css">
    <link rel="stylesheet" href="static/css/login.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>

<body>

<header>

<nav class="navbar">

<div class="logo">

<a href="index.html">

Queue<span>Flow</span>

</a>

</div>

<ul class="nav-links">

<li><a href="index.html">Home</a></li>

<li><a href="about.html">About</a></li>

<li><a href="services.html">Services</a></li>

<li><a href="contact.html">Contact</a></li>

</ul>

</nav>

</header>



<section class="login-page">

<div class="login-wrapper">

<!-- Left -->

<div class="login-left">

<span class="badge">

Smart Digital Queue

</span>

<h1>

Skip Waiting.

<br>

Start Smarter.

</h1>

<p>

Access your dashboard, monitor queue status,
book tokens online and save valuable time.

</p>

<ul>

<li><i class="fa-solid fa-circle-check"></i> Real-Time Queue Updates</li>

<li><i class="fa-solid fa-circle-check"></i> Secure Authentication</li>

<li><i class="fa-solid fa-circle-check"></i> Fast Token Booking</li>

</ul>

<img src="static/image/login-illustration.svg">

</div>



<!-- Right -->

<div class="login-card">

<h2>

Welcome Back

</h2>

<p class="subtitle">

Sign in to continue

</p>

<form>

<div class="input-box">

<i class="fa-solid fa-envelope"></i>

<input type="email" placeholder="Email Address">

</div>

<div class="input-box">

<i class="fa-solid fa-lock"></i>

<input type="password" placeholder="Password">

</div>

<div class="remember">

<label>

<input type="checkbox">

Remember Me

</label>

<a href="#">

Forgot Password?

</a>

</div>

<button>

Login

</button>

<div class="divider">

<span>

OR

</span>

</div>

<div class="social-login">

<button class="google">

<i class="fab fa-google"></i>

Google

</button>

<button class="github">

<i class="fab fa-github"></i>

GitHub

</button>

</div>

<p class="register">

Don't have an account?

<a href="register.html">

Create Account

</a>

</p>

</form>

</div>

</div>

</section>

</body>

</html>